$serif_shit: georgia, sylfaen, serif
$sans_serif: Helvetica

h1
  font-family: $serif_shit

body
  font-family: $sans_serif

#wrap
  width: 700px
  margin: 0 auto

#sessions
  border-bottom: 4px solid #666
  
#content
  border-bottom: 1px solid #e7e7e7