h1 {
  font-family: georgia, sylfaen, serif; }

body {
  font-family: Helvetica; }

#wrap {
  width: 700px;
  margin: 0 auto; }

#sessions {
  border-bottom: 4px solid #666666; }

#content {
  border-bottom: 1px solid #e7e7e7; }
