-if user_signed_in?
  =form_for(@search, :remote => true) do
    =label_tag "search_value", "Search Google Images:"
    =text_field_tag "search_value", "", :size => 50
  
  %div{:style => 'padding-bottom: 10px'}
-else
  %span{:style => 'color: #ccc' } create an account or log in to user